<section id="experience" class="container">
    <h2>Professional Experience</h2>
    <div class="experience-grid">

        <div class="experience-card">
            <h3>Coding Ninjas(Trainee and Mentor)</h3>
            <p style="color: rgb(199, 25, 25);">june 2021 – june 2022 | Remote, India</p>

            <p>Actively engaged in learning, training, and mentoring in Node.js, Core Java, and JavaScript at Coding Ninjas. Assisted peers in understanding complex programming concepts, debugging code, and improving problem-solving skills. Provided guidance on best practices and real-world applications, fostering a strong foundation in backend and full-stack development.</p>
        

        
            <h4>Tech Stack:</h4>
            <p>Node.js, JavaScript, MongoDB, Redis, PostgreSQL.</p>
        </div>
        <div class="experience-card">
            <h3>Novagems</h3>
            <p style="color: rgb(199, 25, 25);">June 2022 – December 2022 | Mohali, India</p>
            <p>Worked as a backend developer on a SaaS product, responsible for debugging and maintaining stability across development, staging, and production environments. Developed new features, optimized existing functionalities, and upgraded the codebase to newer technologies. Improved database performance, integrated third-party APIs, and ensured efficient logging and monitoring.</p>
            <h4>Tech Stack:</h4>
            <p>Node.js, MongoDB, JavaScript, Redis, TypeScript</p>
        </div>
        
        <div class="experience-card">
            <h3>Wits Innovation Lab</h3>
            <p style="color: rgb(199, 25, 25);">March 2023 – November 2024 | Mohali, India</p>

            <p>Worked as a backend developer, building and maintaining scalable and efficient server-side applications. Designed and optimized database schemas, implemented RESTful APIs, and integrated third-party services. Developed robust authentication and authorization mechanisms, improved application performance, and optimized caching strategies. Ensured code quality through testing, debugging, and version upgrades. Deployed and managed applications using Docker, monitored system performance, and addressed production issues.</p>
        
            <p>Additionally, worked as an <strong>outsourced software engineer for ONDC</strong>, contributing to their ecosystem by developing and maintaining backend services.</p>
        
            <h4>Tech Stack:</h4>
            <p>Node.js, JavaScript, TypeScript, MongoDB, Redis, PostgreSQL, Docker.</p>
        </div>

  
        
    </div>
</section>