<header>
    <nav>
        <div class="container">
            <!-- Profile Picture and Name -->
            <div class="profile-container">
                <div class="profile-pic">
                    <img src="assets/icons/akash.jpg" alt="Akash Bhagat" class="profile-image">
                </div>
                <h1>Akash Bhagat</h1>
            </div>
            <!-- Theme Toggle Button -->
            <div class="theme-toggle">
                <i class="fas fa-sun"></i> <!-- Light mode icon -->
                <i class="fas fa-moon"></i> <!-- Dark mode icon -->
            </div>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="container">
            <h2>Backend Engineer</h2>
            <p>Building robust, scalable, and secure backend systems.</p>
            <a href="#contact" class="btn">Get in Touch</a>
        </div>
    </div>
</header>