<section id="technologies">
    <h2>Technologies I've Worked With</h2>
    <ul class="tech-list">
      <li><i class="fab fa-node-js"></i><span>Node.js</span></li>
      <li><i class="fab fa-js-square"></i><span>JavaScript</span></li>
      <li><i class="fa-solid fa-code"></i><span>TypeScript</span></li>
      <li><i class="fab fa-aws"></i><span>AWS</span></li>
      <li><i class="fa-solid fa-database"></i><span>MongoDB</span></li>
      <li><i class="fab fa-docker"></i><span>Docker</span></li>
      <li><i class="fa-solid fa-database"></i><span>MySQL</span></li>
    </ul>
  </section>
  