/* styles/dark-mode.css */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header, .dark-mode footer, .dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode a {
    color: #bb86fc;
}